li {
    list-style-type: none;
}

.cs-img {
    width: 100%;
    height: 70px;
}

.cs-row td {
    padding-top: 1rem;
}

.cs-navbar li a:hover {
    color: white !important;
}

.cs-pencil:hover {
    background-color: grey;
    color: white !important;
}

.cs-trash:hover {
    background-color: grey;
    color: white !important;
}

.cs-color-hamburger {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#cs-note {
    height: 100px;
}

@media screen and (max-width:768px) {
    .cs-date {
        display: none;
    }
}